---
import Layout from "@/layout/Layout.astro";
import { basics } from "@cv";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

const { name, label } = basics;
---

<Layout title={`Portfolio de ${name} | ${label}`}>
	<main>
		<Hero />

		<About />

		<Projects />

		<Experience />

		<Education />

		<Skills />
	</main>

	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem 2rem;
	}
</style>
