<span>
  <slot />
</span>

<style>
  span {
    color: var(--paragraph);
    background-color: var(--bg-secondary);
    outline: 2px solid var(--bg-secondary);
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 0.3vmax;
    padding: 0.2rem 0.6rem;
  }
</style>
