<span class="time">
  <slot name="icon" />
  <time>
    <slot />
  </time>
</span>

<style>
  .time {
    color: var(--terciary);
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }
</style>
